@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@font-face {
  font-family: Weiss Lapidar;
  src: url('WeissLapidar.ttf');
}

body {
  background-color: #87afef;
  margin: auto;
  /* removing the default body margin */
  /* background-image: url('aeneas-2.jpg');
  background-repeat: no-repeat;
  background-size: 80% 100%; */
}

.title {
  font-size: 50px;
  margin: 21px;
  text-align: center;
  font-family: 'Weiss Lapidar'
}

.caption {
  font-size: 17px;
  margin: 20px;
  text-align: center;
  font-family: 'Weiss Lapidar'
}

.navLinks {
  font-size: 20px;
  margin: 20px;
  text-align: center;
  font-family: 'Weiss Lapidar'
}

.emailIcon {
  color: #ffffff;
  font-size: 42px;
  margin: inherit;
  align-self: center;
}

.githubIcon {
  color: #000000;
  font-size: 42px;
  margin: inherit;
  align-self: center;
}

.steamIcon {
  color: #00107f;
  font-size: 42px;
  margin: inherit;
  align-self: center;
}

.childIcons {
  margin: 30px;
  text-align: center;
}
